<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <%= render 'userbook', user: current_user, book: @book %>
    </div>

    <div class="col-md-8 offset-md-1 bg-warning">

      <div>
        <h1>Users</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">image</th>
              <th scope="col">name</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100) %></td>
              <td><%= user.name %></td>
              <td><%= link_to "show", user_path(user.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    <div>


  </div>
</div>