<!--%= flash[:notice] %>-->

<div class="container px-5 px-sm-0 mt-3">
  <div class="row">

    <div class="col-md-3">
      <%= render 'userbook', book: @book, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th class="colspan=3"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td class="col p-3"><%= image_tag book.user.get_profile_image(100,100) %></td>
            <td><%= book.title %></td>
            <td><%= book.opinion %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>