<div class="container" >
  <div class="row">
    <div class="mx-auto">
      <h1>welcome to

      <span>Bookers</span>
      !!</h1>
      <p>In

      <span>Bookers</span>
      ,</p>
      <p>
        you can share and exchange your opinions, inpressions,
        and emotions
      </p>
      <p>about various books!</p>

      <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to root_path, class: "btn btn-info", autocomplete:"off" do %>
          <span>Log in</span>
        <% end %>
        <%= link_to root_path, class: "btn btn-success", autocomplete:'off' do %>
          <span>Sign up</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
